html{
    height: 100%;
}
 

.form{
    /* position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 400px;
	height: 350px;
	padding: 80px 40px;
	background: rgba(20%,90%,90%,70%); */


    position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
   
   margin-top: 200px;
    
    display:table;
    flex-wrap: wrap;
    align-items: center;
}
.div1{
    position:relative;
	top: 20%;
    left: 5%;
   
    
	/* transform: translate(-50%, -50%); */
     background-color: rgba(0, 195, 255, 0.541) ;
    
   display:table;
    flex-wrap: wrap;
    align-items: center;  
    
}

table, th, td {
   
 
    border: 1px solid rgb(33, 10, 238);
    
  }
 
  .contact-form
  {  
    background: rgb(120, 83, 255);
    border-radius: 20px;
    position:relative;
	top: 50%;
    left: 30%;
   
 
    
   display:table;
    flex-wrap: wrap;
    align-items: center;  
 
  }
  .input
  {  
    background:rosybrown; 
   
    position:relative;
	top: 50%;
    left: 30%;
   
 
    
   display:table;
    flex-wrap: wrap;
    align-items: center;  
 
  }
  body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
body:before {
	content: '';
	position: fixed;
	width: 100vw;
	height: 100vh;
 
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	background-size: cover;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
    filter: blur(5px);
    filter:brightness(100%) saturate(100%) ; 
}